<h1><%= @question.title %></h1>
<p><%= @question.body %></p>
<p><%= @question.resolved %></p>



  <div class="col-md-4">
    <!-- format a link as an edit button which directs a user to /posts/@post.id/edit -->
    <%= link_to "Edit", edit_question_path(@question), class: 'btn btn-success' %>
    <!-- use link_to to create a delete button. We override default method :post with :delete so that when it is called, it calls the delete route. -->
    <%= link_to "Delete Question", @question, method: :delete, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this question?'} %>
  </div>
